---
import data from "../data/site.ts"
import { Icon } from "astro-icon/components"
---

<footer class="text-white flex items-center text-center flex-col p-10 leading-loose">
        <p>
            &copy; Copyright {new Date().getFullYear()}, QUT Cyber Security Club. All Rights Reserved.<br>
        </p>
</footer>

        